@model IEnumerable<ma.metl.sirh.Model.Autorisation>

@{
    ViewBag.Title = "CreateProfil";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">Nouveau Profil</h1>
    </div>
    <!-- /.col-md-12 -->
</div>

<div class="row">
    <div class="col-md-3">
        @Html.Label("messageInfo", "", new { @class = "form-control" }) @Html.ValidationMessage("messageInfo", new { @style = "color:green" })
    </div>
</div>

<div class="row">
    <form name="form1" id="form1" action="" method="post" class='form-horizontal'>
        <div class="form-group">
            <div class="col-md-2 col-md-offset-3">
                <label for="libelle">Libell&eacute; :</label>
            </div>
            <div class="col-md-3">
                @Html.TextBox("libelle", "", new { @class = "form-control" })
                @Html.ValidationMessage("libelle", new { @style = "color:red" })
            </div>
        </div>

        <div>
            <div class="col-md-12">
                <h1 class="page-header">Autorisations</h1>
            </div>
        </div>

        <div class="panel-group col-md-10 col-md-offset-1" id="accordion">
            @foreach (var item in Model.Select(x => x.Module).Distinct())
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#@item.Id">@item.Description</a>
                        </h4>
                    </div>
                    @{ string Module = item.Description;}
                    <div id="@item.Id" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table table-bordered table-striped  table-hover">
                                <tr>
                                    <th width="20">&nbsp;</th>
                                    <th width="180">&nbsp;</th>
                                </tr>
                                @foreach (var t in Model.Where(m => m.Module.Description.Equals(Module)))
                                {
                                <tr>
                                    <td>

                                        @Html.CheckBox(@t.Id.ToString())
                                    </td>
                                    <td>@t.Description </td>
                                </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div> }
        </div>
        <div class="col-md-11 b-right">
            <p><input type="submit" value="Enregistrer" class="btn btn-custom" />  
                <a class="btn btn-custom" href="~/Users/Administration">
                    <i class="fa fa-times"></i>
                    Annuler
                </a>
                
            </p>
        </div>
    </form>
</div>
