@model ma.metl.sirh.Model.Users
@{
    ViewBag.Title = "ModifierUtilisateur";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">Administration</h1>
    </div>
    <!-- /.col-md-12 -->
</div>
<div class="row">
    <fieldset class="col-md-10 col-md-offset-1">
        <legend>Edition Utilisateur</legend>
        <form name="form" id="form" action="" method="post" class="form-horizontal">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                <div class="col-md-4">
                    Login
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Login, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Login, null, new { style = "color: red" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    Mot de passe
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @Type = "Password" })
                    @Html.ValidationMessageFor(model => model.Password, null, new { style = "color: red" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    Confirmation du mot de passe
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.ConfirmationPassword, new { @class = "form-control", @Type = "Password" })
                    @Html.ValidationMessageFor(model => model.ConfirmationPassword, null, new { style = "color: red" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    Nom
                </div>
                <div class="col-md-4">
                    <td>
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name, null, new { style = "color: red" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                Pr&eacute;nom
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Prenom, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Prenom,null, new { style = "color: red" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4">
                Email
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email, null, new { style = "color: red" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                Direction
            </div>
            <div class="col-md-4">
                @Html.DropDownList("DirectionId", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Direction.Id, null, new { style = "color: red" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                Service
            </div>
            <div class="col-md-4">
                @Html.DropDownList("ServiceId", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Service.Id, null, new { style = "color: red" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                Profil
            </div>
            <div class="col-md-4">
                @Html.DropDownList("ProfilId", null, new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.ProfilId, null, new { style = "color: red" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                Statut
            </div>
            <div class="col-md-4">
                @Html.DropDownList("Statut", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Statut, null, new { style = "color: red" })
            </div>
        </div>
        <p class="b-right">
            <a class="btn btn-custom" href="AdministrationUsers" title="Retour">
                <i class="fa  fa-arrow-left"></i>
            </a>
            <!--<a class="btn btn-custom btn-xs" href="javascript:popup('user-del')" title="Supprimer">
                <i class="fa fa-trash-o"></i>
            </a>-->
            @*<a class="btn btn-custom btn-xs" href="#" title="Enregistrer">
                <i class="fa fa-save"></i>
            </a>*@
           
            <input type="submit" value="Enregistrer" class="btn btn-custom" />

            </p>
        </form>
    </fieldset>
</div>

