@model Tuple<IEnumerable<ma.metl.sirh.Model.Matiere>, ma.metl.sirh.Model.Matiere>


<script type="text/javascript">
    function DeleteAskToConfirm(matiereId) {
        $('#GipeOrdlbl').html(matiereId);
        $('#deleteMatiere').modal();

    }

    function deleteMatiere() {
        var id = document.getElementById('GipeOrdlbl').innerHTML;
        window.location = '@Url.Action("SupprimerMatiere","Parametrage")' + '?matiereId=' + id;
    }

    function EditMatiere(matiereId, name) {
        $('#matiereIdM').val(matiereId);
        $('#intituleM').val(name);
        $.validator.unobtrusive.parse("#editMatiere");
        $('#editMatiere').modal();
    }

    function AjouterMatiere()
    {
        $.validator.unobtrusive.parse("#newMatiere");
        $('#newMatiere').modal();
    }
</script>

<fieldset class="col-md-10 col-md-offset-1">
    <div class="form-group">
        <div class="col-md-3" style="display:none">
            <label id="GipeOrdlbl"></label>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table table-bordered table-striped  table-hover" id="myTable">
            <thead>
                <tr>
                    <th>Matière</th>
                    <th width="90">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Item1)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Intitule)</td>

                        <td>
                            <a class="btn btn-custom btn-xs" href="javascript:EditMatiere(@item.Id,'@item.Intitule')" title="Editer">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a class="btn btn-custom btn-xs" href="javascript:DeleteAskToConfirm(@item.Id)" title="Supprimer">
                                <i class="fa fa-trash-o"></i>
                            </a>



                        </td>

                    </tr> }
            <tbody>
        </table>
    </div>
    <div class="b-right">
        <a class="btn btn-custom" href="javascript:AjouterMatiere()">
            <i class="fa fa-plus"></i>
            Nouvelle matière
        </a>
    </div>
</fieldset>
<!-- **************** Popups **************** -->
<!-- **** nouvelleMatiere **** -->

<div id="newMatiere" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Nouvelle Matière</h4>
            </div>
            <div class="modal-body">
                <form name="form-nouvelleMatiere" id="form-nouvelleMatiere" action="CreerMatiere" method="post" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Matière :</label>
                        </div>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.Item2.Intitule, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Item2.Intitule, null, new { style = "color: red" })
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Enregistrer" class="btn btn-custom btn-lg" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </form>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- **** editCritère **** -->

<div id="editMatiere" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modifier Matière</h4>
            </div>
            <div class="modal-body">
                <form name="form-editMatiere" id="form-editMatiere" action="ModifierMatiere" method="post" class="form-horizontal">
                    <div class="form-group">
                        @Html.Hidden("matiereIdM")
                        <div class="col-md-3">
                            <label>Matière :</label>
                        </div>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.Item2.Intitule, new { id = "intituleM", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Item2.Intitule, null, new { style = "color: red" })

                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Modifier" class="btn btn-custom btn-lg" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </form>

            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- **** deleteMatiere **** -->

<div id="deleteMatiere" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Suppression d&#146;une matière</h4>
            </div>
            <form name="form-supprimerMatiere" id="form-supprimerMatiere" action="SupprimerMatiere" method="post" class="form-horizontal">
                <div class="modal-body">
                    <p>Etes vous sûr de vouloir supprimer cette matière?</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-custom btn-xs" href="javascript:deleteMatiere()" title="Supprimer">
                        <i class="fa fa-trash-o">Oui</i>
                    </a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
